//fondo del cuerpo
fondo = #F5F8FA
//colores para botones
b1 = #ffffff
b2 = #009688
//colores para la cabecera
//importando estilos
@import "style/general.styl"
@import "style/cabecera__ayuda.styl"
@import "style/container__ayuda.styl"