.principal
    top 78px
.cabecera__ayuda
    align-items center
    background #35c1bf
    display flex
    height 100px
    justify-content center
    .img-ayuda
        background url(../img/encuentra.png)
        background-position center
        background-repeat no-repeat
        background-size contain
        height 100%
        width 200px
    .inp-ayuda
        height 40px
        padding 0 15px
        width 50%
    .btn-ayuda
        background #3399cc
        border none
        color #fff
        font-size 1.1em
        margin-bottom 0px
.contenido__ayuda
    position relative
    .indice__ayuda
        position relative
        padding  0 2em
        padding-bottom .8em
    .contenido__ayuda
        position relative
        margin 1.5em 0
        background #fff
        box-shadow 1px 1px 1px #CFD8DC, -1px -1px 1px #CFD8DC
        padding 2em
        text-align justify
        h4
            color rgba(0,0,0,.67)
        h3
            text-align center
            color rgba(0,0,0,.67)
        p
            padding 1em 0
            color rgba(0,0,0,.57)
            font-size 1.2em
            margin  0
        span
            display block
            text-align center
            font-size 1.5em
            color rgba(0,0,0,.57)
            padding .5em 
        
        em
            text-align center
            display block
            padding-top 1em
        .lista
            padding 1em
            font-size 1.4em
            color rgba(#000,.57)
            display block
        .lista-mid
            padding 1em
            font-size 1.4em
            color rgba(#000,.57)
            display block
            list-style none
            text-align center
            line-height 2em   
        .importante
            text-align center
            font-size 1.5em
            padding 0
        img
            padding 1em
        .img-contenido
            position absolute
            width 200px
            top 0
            right 0
        a
            display block
            text-align center
            font-size 1.5em
            color #000
            transition 8ms all
            &:hover
                color red